{% extends 'base.html.twig' %}

{% block title %}{{ 'movie.title'|trans }}{% endblock %}

{% block header %}
    {% include '_commun/headers/user.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ 'session.title'|trans }} {{ session.date.format("d/m/Y H:i") }} | {{ 'movie.title'|trans }} {{ movie.name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'rule.fields.title'|trans }}</th>
            <th>{{ 'rule.fields.description'|trans }}</th>
            <th>actions</th>
            <th>{{ 'rule.fields.count'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for rule in movie.rules %}
            <tr>
                <td>{{ rule.titre }}</td>
                <td>{{ rule.description }}</td>
                <td>
                    <button class="btn btn-success"
                            data-id-rule="{{ rule.id }}"
                            data-id-session="{{ session.id }}"
                            data-action="match_add">+</button>
                    <button class="btn btn-danger"
                            data-id-rule="{{ rule.id }}"
                            data-id-session="{{ session.id }}"
                            data-action="match_remove">-</button>
                </td>
                <td>0</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'datas.unknown.list'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
