{% extends 'base.html.twig' %}

{% block title %}{{ 'movie.title'|trans }}{% endblock %}

{% block header %}
    {% include '_commun/headers/user.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ 'session.title'|trans }} {{ session.date.format("d/m/Y H:i") }} | {{ 'movie.title'|trans }} {{ movie.name }}</h1>

    <a class="btn btn-primary" href="{{ path('session_finish', {id: session.id}) }}">{{ 'session.finished.action'|trans }}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'rule.fields.title'|trans }}</th>
            <th>{{ 'rule.fields.description'|trans }}</th>
            <th>actions</th>
            <th>{{ 'rule.fields.count'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.rule.titre }}</td>
                <td>{{ match.rule.description }}</td>
                <td class="w-25">
                    <button class="btn btn-success"
                            data-id-rule="{{ match.id }}"
                            data-action="match_add">
                        {% include '_commun/icones/add.html.twig' %}
                    </button>
                    <button class="btn btn-danger"
                            data-id-rule="{{ match.id }}"
                            data-action="match_remove">
                        {% include '_commun/icones/remove.html.twig' %}
                    </button>
                </td>
                <td><span class="match-count">{{ match.count }}</span></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'datas.unknown.list'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
