{% extends 'base.html.twig' %}

{% block title %}{{ 'session.title'|trans }}{% endblock %}

{% block header %}
    {% include '_commun/headers/user.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ 'session.title'|trans }} {{ session.date.format("d/m/Y H:i") }}</h1>

    <h2>{{ 'session.fields.movies'|trans }}</h2>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'movie.fields.id'|trans }}</th>
            <th>{{ 'movie.fields.name'|trans }}</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in session.movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>
                    <a href="{{ path('movie_details', {idMovie: movie.id, id: session.id}) }}" class="btn btn-primary">{{ 'action.show.details'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'datas.unknown.list'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
