{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.createdAt ? 'Le '~ session.createdAt|date('d/m/Y') ~' à '~ session.createdAt|date('H:i') : '' }}</td>
                <td>{{ session.date ? 'Le '~ session.date|date('d/m/Y') ~' à '~ session.date|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('admin_session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('admin_session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_session_new') }}">Create new</a>
{% endblock %}
