{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <div class="row">
        <div class="col-6">
            <h2>{{ 'session.participant.registered'|trans }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessionsRegistered %}
                    <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.date ? session : 'datas.unknown.date'|trans }}</td>
                        <td>
                            <button class="btn btn-danger" data-id="{{ session.id }}" data-action="session_register">
                                {{ 'session.participant.unregister'|trans }}
                            </button>
                            <a class="btn btn-primary" href="{{ path('session_details', {'id': session.id}) }}">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'datas.unknown.list'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>{{ 'session.participant.notregistered'|trans }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessionsNotRegistered %}
                    <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.date ? session : 'datas.unknown.date'|trans }}</td>
                        <td>
                            <button class="btn btn-success" data-id="{{ session.id }}" data-action="session_register">
                                {{ 'session.participant.register'|trans }}
                            </button>
                            <a class="btn btn-primary" href="{{ path('session_details', {'id': session.id}) }}">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'datas.unknown.list'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
